/*
 * Colors
*/

$color-contract: #27AAE1;
$color-marketplace: #38c0c0;
$color-telecom: #2bb673;
$color-assets: #5368c1;
$color-helpdesk: #e7505a;
$color-network: #F07059;
$color-staff: #8D70C9;
$color-contract-expiry: #FFAD48;
$color-warranty-good: #36D7B7;
$color-warranty-expiring: #E87E04;
$color-warranty-expired: #e7505a;
$color-help: #E7505A;
$color-body-text: #212529; // $gray-900
$color-gamification: #3F51B5;
$color-help: #26C281;
$dark-blue: #38485e;

// Gets merged in with existing bootstrap $colors map
$colors: (
  dark-blue: $dark-blue,
  contract: $color-contract,
  marketplace: $color-marketplace,
  telecom: $color-telecom,
  assets: $color-assets,
  helpdesk: $color-helpdesk,
  network: $color-network,
  staff: $color-staff,
  gamification: $color-gamification,
  help: $color-help
);

// Gets merged in with existing bootstrap $theme-colors map
$theme-colors: (
  alternate: $dark-blue,
  body: $color-body-text,
  light: #e9ecef, // $gray-200
  contract: $color-contract,
  marketplace: $color-marketplace,
  telecom: $color-telecom,
  assets: $color-assets,
  helpdesk: $color-helpdesk,
  network: $color-network,
  staff: $color-staff,
  gamification: $color-gamification,
  help: $color-help
);

$body-color: $color-body-text;
$table-border-color: #dee2e6; // $gray-300


/*
 * Layout/Grid
 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);


/*
 * Shadows
 */

$shadow-base: 0 2px 5px rgba(0,0,0,0.2);
$shadow-hover: 0 10px 20px rgba(0,0,0,0.25);
$shadows: (
  1: $shadow-base, // Basic .box shadow
  2: 0 5px 10px rgba(0,0,0,0.2), // Slightly larger shadow for elements that need to be "on top" of a .box
  3: $shadow-hover, // .box hover state
  4: 0 10px 30px rgba(0,0,0,0.25) // Elements that sit "on top" of everything, all the time, like the main menu popup or modals
);


/*
 * Typography
 */

$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/*
 * Components
 */
$border-radius: 2px;
